<% provide(:title, 'attendance-log') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
       <span aria-hidden="true">&times;</span>
      </button>      
    </div>    
    <div class="modal-body">
      <%= form_with(model: @attendances, url: attendance_log_user_attendance_path(@user), local: true, method: :get) do |f| %>
        <% @change_attendances.each do |id, attendances| %>
          <h1 class="modal-title">【勤怠ログ】</h1>
          <table class="table table-bordered table-condensed table-hover" id="table-attendances">            
            <thead>
              <tr>
                <th>日付</th>                          
                <th>変更前出勤時間</th>
                <th>変更前退勤時間</th>            
                <th>変更後出勤時間</th>
                <th>変更後退勤時間</th>                                
                <th>承認者</th>                
                <th>承認日</th>
              </tr>              
            </thead>
            <tbody>
              <% attendances.each do |day| %>                                  
                <tr>
                  <td><%= l(day.worked_on, format: :short) %></td>                  
                  <!--変更前・出勤-->                    
                  <td><%= day.started_at.strftime("%R") if day.started_at.present? %></td>                    
                  <!--変更前・退勤-->
                  <td><%= day.finished_at.strftime("%R") if day.finished_at.present? %></td>                    
                  <!--変更後・出勤-->
                  <td><%= day.restarted_at&.strftime("%R") if day.restarted_at&.present? %></td>                    
                  <!--変更後・退勤-->
                  <td><%= day.refinished_at&.strftime("%R") if day.refinished_at&.present? %></td>                 
                  <td><%= day.superior_attendance_change_approval_confirmation %></td>
                  <td><%= l(day.update_at, format: :short) %></td>                  
                </tr>                
              <% end %>                                
            </tbody>           
          </table>          
        <% end %>      
      <% end %>  
    </div>
  </div>
</div>